@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  /* color */
  /* border */
  --color-stone-150: #e9e9e7;
  /* 연한색의 텍스트 */
  --color-stone-650: #5f5e5b;
  /* 진한색의 텍스트 / 캡션등 더 연한 텍스트는 해당 컬러의 투명도를 0.65 */
  --color-stone-850: #37352f;
  /* text */
  --text-xs: 12px;
  --text-sm: 14px;
  /* animate */
  --animate-fadeIn: fadeIn 0.4s ease-in-out;
}

@layer base {
  button {
    cursor: pointer;
  }
  * {
    @apply text-stone-650 text-sm border-stone-150;
  }
}

@layer utilities {
  .x-center {
    @apply left-1/2 -translate-x-1/2;
  }
  .y-center {
    @apply top-1/2 -translate-y-1/2;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
